In [11]:
LIST1 = [12,3,55,6,144]
listeven =[]
for i in LIST1:
  if i%2==0 :
    listeven.append(i)
    

print(listeven)

[12, 6, 144]

In [12]:
LIST1 = [2, 10, 9, 37]
listeven =[]
for i in LIST1:
  if i%2==0 :
    listeven.append(i)
    

print(listeven)

[2, 10]

In [21]:
n = int(input("enter the value"))
for i in range(1,n+1):
  print(" " * (n-i), str(i) * i )

enter the value5
     1
    22
   333
  4444
 55555